{% extends "base.html" %}

		{% block title %}
			<title>Login</title>
		{% endblock %}
{% block header %}
{% endblock %}
{% block search %}
{% endblock %}
{% block sidesearch %}

{% endblock %}
{% block content %}
<style>
.login_container{
	
	min-height:580px;
	padding:20px;
}
</style>

      
        

        <!-- Services -->
        <div class="login_container container">
            <div class="row">
                 <div class="header row">
                <div class="span12">
                    <div class="navbar">
						<div class="logo">
							 		<img src="/media/img/logo.jpg"/></a><br />
									 
										<i style=" font-family: 'Audiowide', cursive;;font-size:20px;line-height:24px;">PrIME</i>
									
						</div>
					</div>
				</div>
			</div>
                <div class="login span3 offset9">
                   
	                   {% if user.is_authenticated%}
	                    <h4>Logged in as : 
			                   	{{ user.user_name }}	                   	                  
			               </h4><br /><br />
			               
			            
			               <a href="/dashboard/manager/" >   <h4 style="border-radius:0px; width:166px; margin-left:30px;">Go to Dashboard </h4></a>
			               
			               <a href="/login/out/" class="btn-green" style="height:25px;" id="logout"><b>Log Out</b></a>
	               
	                   {% else%}
                   
                   	
					<form action="" method="POST">{% csrf_token %}
						 <h4>Enter Password</h4>
						
						 {% for fields in form %}
						 	<div style="color:black;">{{ fields.label_tag }}</div> : {{ fields }}
							{{ fields.errors  }}
						 {% endfor %}
						<br />
					
						<input id="btn-green" type="submit" style="padding-right:25px;" value="Submit" >
				   </form>
				   {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
   

