{% extends "base.html" %}

		{% block title %}
			<title>User_Login</title>
		{% endblock %}
{% block header %}
{% endblock %}
{% block search %}
{% endblock %}
{% block sidesearch %}

{% endblock %}
{% block content %}
<style>
.login_container{
	
	min-height:580px;
	padding:20px;
}
</style>

      
        

        <!-- Services -->
        <div class="login_container container">
            <div class="row">
                 <div class="header row">
                <div class="span12">
                    <div class="navbar">
						
					</div>
				</div>
			</div>
                <div class="login span3 offset9">
                   
	                   {% if user.is_authenticated%}
	                    <h4>Logged in as : 
			                   	{{ user.username }}	                   	                  
			               </h4><br /><br />
			               
			            
			               
			               
			               <a href="/login/out/" class="btn-green" style="height:25px;" id="logout"><b>Log Out</b></a>
	               
	                   {% else%}
                   
                   	
					<form action="" method="POST">{% csrf_token %}
						 <h4>Enter Username</h4>
						 {% for fields in form %}
						 	{{ fields }}
						 {% endfor %}
						<br />
					
						<input id="btn-green" type="submit" style="padding-right:25px;" value="Submit" >
				   </form>
				   {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
   

